.container_stc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
}
.container_stc .card_stc {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 85vmin;
  position: relative;
}
.artigo_nome_stc {

    display: inline-block;
    max-width: 250px;
    padding: 10px;
    position: inherit;
    
}
.container_stc .card_stc .artigo_nome_stc {
  color: White;
  transform: rotate(0deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  font-size: 11px;
  
}
.container_stc .card_stc:hover {
  flex-grow: 10;
}
.container_stc .card_stc:hover .img_class > p > img {
  filter: grayscale(0);
  opacity: 1;
}
.container_stc .card_stc:hover .artigo_nome_stc {
  text-align: center;
  flex-grow: 10;
  top: calc(100% - 2em);
  color: white;
 
  transform: rotate(-90deg);
 
  display: none;
}
.container_stc .card_stc:hover > .artigo_nome_stc {
  text-align: center;
  flex-grow: 10;
  top: calc(100% - 2em);
  color: white;
  transform: rotate(-90deg);
}

.container_stc .card_stc .img_class > p > img {
  width: 920px;
  height: 580px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(0);
  margin-bottom:-200px;
  text-align: center;
  z-index: -1;
}
.head {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}
.v_te {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}
.vector{
position: absolute;
height: 308.2px;
left: 18.15%;
right: 18.04%;
top: 125px;
}
.head {
  position: absolute;
width: 290px;
height: 88px;
left: 47px;
font-style: normal;
font-weight: normal;
font-size: 30px;

/* or 44px */

color: #FFFFFF;
}
.v_te {
  /* Family, parenting & relationship */
font-size: 20px;
width: 479px;
}
.rec {
position: absolute;
width: 153px;
height: 54px;
left: 52px;
top: 313px;
background: #FFFFFF;
z-index: 0;
}
.vector {
  z-index: 1;
  opacity: 0
}
.card_stc:hover .vector {
opacity: 1;
}
.rec {
  opacity: 0
}
.card_stc:hover .rec {
opacity: 1;
}
.vector_size {
  width:587px;
  height:309px;
}
@media (min-width: 1281px) {
  
  .container_stc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
}
.container_stc .card_stc {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 85vmin;
  position: relative;
}
.artigo_nome_stc {
  
    display: inline-block;
    max-width: 250px;
    padding: 10px;
    position: inherit;
    }
.container_stc .card_stc .artigo_nome_stc {
  color: White;
  transform: rotate(0deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  font-size: 11px;
  
}
.container_stc .card_stc:hover {
  flex-grow: 10;
}
.container_stc .card_stc:hover .img_class > p > img {
  filter: grayscale(0);
  opacity: 1;
}
.container_stc .card_stc:hover .artigo_nome_stc {
  text-align: center;
  flex-grow: 10;
  top: calc(100% - 2em);
  color: white;
 
  transform: rotate(-90deg);
 
  display: none;
}
.container_stc .card_stc:hover > .artigo_nome_stc {
  text-align: center;
  flex-grow: 10;
  top: calc(100% - 2em);
  color: white;
  transform: rotate(-90deg);
}

.container_stc .card_stc .img_class > p > img {
  width: 100%;
  height: 580px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(0);
  margin-bottom:-200px;
  text-align: center;
}

.head {
  top:30px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}
.v_te {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}
.vector{
position: absolute;
height: 308.2px;
left: 18.15%;
right: 18.04%;
top: 125px;
}
.head {
  position: absolute;
width: 290px;
height: 88px;
left: 47px;
font-style: normal;
font-weight: normal;
font-size: 30px;

/* or 44px */

color: #FFFFFF;
}
.v_te {
  /* Family, parenting & relationship */


width: 479px;

}
.rec {
    position: absolute;
    width: 153px;
    height: 54px;
    /* left: 200px; */
    top: 413px;
    background: #FFFFFF;
    z-index: 0;
    left: 23%;
    right: 18.04%;
  }
.vector_size {
  width:587px;
  height:309px;
}
  
}
@media (min-width: 1025px) and (max-width: 1280px) {
  


.container_stc .card_stc .artigo_nome_stc {
  color: White;
  transform: rotate(0deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  font-size: 11px;
  
}
.container_stc .card_stc:hover {
  flex-grow: 10;
}
.container_stc .card_stc:hover .img_class > p > img {
  filter: grayscale(0);
  opacity: 1;
}
.container_stc .card_stc:hover .artigo_nome_stc {
  text-align: center;
  flex-grow: 10;
  top: calc(100% - 2em);
  color: white;
 
  transform: rotate(-90deg);
 
  display: none;
}
.container_stc .card_stc:hover > .artigo_nome_stc {
  text-align: center;
  flex-grow: 10;
  top: calc(100% - 2em);
  color: white;
  transform: rotate(-90deg);
}

.container_stc .card_stc .img_class > p > img {
  width: 100%;
  height: 580px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(0);
  margin-bottom:-200px;
  text-align: center;
}

.head {
  top:30px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}
.v_te {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}
.vector{
position: absolute;
height: 308.2px;
left: 5.15%;
right: 18.04%;
top: 125px;
}
.head {
  position: absolute;
width: 290px;
height: 88px;
left: 47px;
font-style: normal;
font-weight: normal;
font-size: 30px;

/* or 44px */

color: #FFFFFF;
}
.v_te {
  /* Family, parenting & relationship */


width: 479px;



}
.rec {
    position: absolute;
    width: 153px;
    height: 54px;
    left: 96px;
    top: 413px;
    background: #FFFFFF;
    z-index: 0;
}

}
@media (min-width: 768px) and (max-width: 1024px) {
  

.container_stc .card_stc .artigo_nome_stc {
  color: White;
  transform: rotate(0deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  font-size: 11px;
  
}
.container_stc .card_stc:hover {
  flex-grow: 10;
}
.container_stc .card_stc:hover .img_class > p > img {
  filter: grayscale(0);
  opacity: 1;
}
.container_stc .card_stc:hover .artigo_nome_stc {
  text-align: center;
  flex-grow: 10;
  top: calc(100% - 2em);
  color: white;
 
  transform: rotate(-90deg);
 
  display: none;
}
.container_stc .card_stc:hover > .artigo_nome_stc {
  text-align: center;
  flex-grow: 10;
  top: calc(100% - 2em);
  color: white;
  transform: rotate(-90deg);
}

.container_stc .card_stc .img_class > p > img {
  width: 100%;
  height: 467px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(0);
  margin-bottom:-200px;
  text-align: center;
}

.head {
  font-size: 21px !important;
    top: 65px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}
.v_te {
  font-size: 16px !important;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}
.vector{
position: absolute;
height: 333.2px;
left: 1.71%;
right: 8.73%;
top: 50px;
}
.head {
  position: absolute;
width: 290px;
height: 88px;
left: 47px;
font-style: normal;
font-weight: normal;
font-size: 30px;

/* or 44px */

color: #FFFFFF;
}
.v_te {
  /* Family, parenting & relationship */


width: 367px;



}

.vector_size {
  width:429px;
  height:333.2px;
}
  
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
.container_stc .card_stc .artigo_nome_stc {
  color: White;
  transform: rotate(0deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  font-size: 11px;
  
}
.container_stc .card_stc:hover {
  flex-grow: 10;
}
.container_stc .card_stc:hover .img_class > p > img {
  filter: grayscale(0);
  opacity: 1;
}
.container_stc .card_stc:hover .artigo_nome_stc {
  text-align: center;
  flex-grow: 10;
  top: calc(100% - 2em);
  color: white;
 
  transform: rotate(-90deg);
 
  display: none;
}
.container_stc .card_stc:hover > .artigo_nome_stc {
  text-align: center;
  flex-grow: 10;
  top: calc(100% - 2em);
  color: white;
  transform: rotate(-90deg);
}

.container_stc .card_stc .img_class > p > img {
  width: 100%;
  height: 467px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(0);
  margin-bottom:-200px;
  text-align: center;
}

.head {
  font-size: 21px !important;
    top: 65px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}
.v_te {
  font-size: 16px !important;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}
.vector{
position: absolute;
height: 333.2px;
left: 5.71%;
right: 6.73%;
top: 50px;
}
.head {
  position: absolute;
width: 290px;
height: 88px;
left: 47px;
font-style: normal;
font-weight: normal;
font-size: 30px;

/* or 44px */

color: #FFFFFF;
}
.v_te {
  /* Family, parenting & relationship */


width: 367px;



}

.vector_size {
  width:429px;
  height:333.2px;
}
 
  
}
@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  .vector{
position: absolute;
height: 281.23px;
left: 0%;
right: 0%;
left: 40px;
top: -38px;
}
.head {
  top: 105px;
  position: absolute;
    width: 222px;
    height: 54px;
    left: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
}
.v_te {
  /* Family, parenting & relationship */


width: 209px;
font-size: 10px;



}
.rec {
position: absolute;
width: 100px;
height: 40px;
left: 57px;
top: 193px;
background: #FFFFFF;
}
.vector {
  opacity: 0
}
.card_stc:hover .vector {
opacity: 1;
}
.vector_size {
  width:281.23px;
  height:333.2px;
}
  .container_stc .card_stc .img_class p img {
  margin-bottom: 0px !important;
  }

  .container_stc .card_stc .artigo_nome_stc {
  flex-grow: unset;
  top: auto;
  color: white;
  transform: none !important;
  padding-top:0px !important;
  max-width:350px !important;
  margin-top: -100px !important;
  position:absolute !important;
}
  .container_stc {
    display: inline;
  }
  .container_stc .card_stc {
    height: auto;
    margin-bottom: -40px;
  }
  .container_stc .card_stc .img_class > p > img {
    height: 110px !important;
  }
  .container_stc .card_stc:hover .img_class > p > img {
      height: 295px !important;
      width:100%;
  }
 
}